body {
  margin:40px
  auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px
}

h1,h2,h3 {
  line-height:1.2
}

img {
  max-height: 400px;
  height: 70%;
  width: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
}

pre {
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ccc;
}
