<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="icon" type="image/svg" href="static/cork.svg">
  <script src="/scripts/base.dart.js"></script>
</head>
<body>

<h1>{{title}}</h1>

<main>
  {{{content}}}
</main>

</body>
</html>
