<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <script src="/scripts/base.dart.js"></script>
</head>
<body>

<header>
  <h1 id="title">Homepage</h1>
</header>

<main>
  {{{content}}}
</main>

</body>
</html>
