<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <script src="/scripts/base.dart.js"></script>
</head>
<body>

<h1>{{title}}</h1>

<div>
  Tags:
  {{#tags}}
    | <i>{{.}}</i> |
  {{/tags}}
</div>

{{{content}}}

</body>
</html>
