<html>
<head>
    <title>Cork Example Post</title>
    <script src="./main.dart.js"></script>
</head>
<body>
<h1>{{title}}</h1>

<div>
  Tags:
  {{#tags}}
    <li>{{.}}</li>
  {{/tags}}
</div>

{{{content}}}

</body>
</html>
